.memesContainer__row__col__2__writeText {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  z-index: 10;
  background-color: var(--text-color-body-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    padding: 0 10px;
  }
  &__buttons {
    width: 30vw;
    button {
      margin-top: 10px;
    }
  }
  input[type="text"] {
    padding: 5px 15px;
    width: 30vw;
    height: 50px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    background-color: var(--webkit-scrollbar-thumb-background-color);
    @media screen and (max-width: 736px) {
      width: 300px;
      &__buttons {
        width: 300px;
      }
    }
  }
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
